button
  appearance none
  background-color #6496c8
  border none
  box-shadow none
  color #fff
  display inline-block
  font-size 1em
  font-weight bold
  line-height 1.8

  &[disabled]
    opacity .5

  &:hover:not([disabled])
    background-color #346392
    text-shadow -1px 1px #27496d

  &:active
    background-color #27496d
    text-shadow -1px 1px #193047
